.main-bg-color{
    background-color: rgb(127, 255, 212);
}



.square{
    width: calc(100% / 10);
    height: calc(100% / 10);
    border: solid 3px black;
}

.grid{
    height: 800px;
    border: solid 3px black;
    flex-wrap: wrap;
}